<div class="form-box">
  <h2>Đăng ký</h2>
  <form action="/auth/register" method="post">
    <label>Username</label>
    <input name="username" required>
    <label>Password</label>
    <input type="password" name="password" required>
    <button class="btn">Tạo tài khoản</button>
  </form>
</div>
